<div class="stats stats-vertical lg:stats-horizontal shadow">
  <div class="stat">
    <div class="stat-title">タンパク質</div>
    <div class="stat-value">
      <%= @nutrient_amounts[:protein] %>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">脂質</div>
    <div class="stat-value">
      <%= @nutrient_amounts[:fat] %>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">炭水化物</div>
    <div class="stat-value">
      <%= @nutrient_amounts[:carbohydrate] %>
    </div>
  </div>
</div>