<div class="stats stats-vertical lg:stats-horizontal shadow">
  <div class="stat">
    <div class="stat-title">タンパク質</div>
    <div class="stat-value">
      <%= @nutrient_amount[0] %>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">脂質</div>
    <div class="stat-value">
      <%= @nutrient_amount[1] %>
    </div>
  </div>

  <div class="stat">
    <div class="stat-title">炭水化物</div>
    <div class="stat-value">
      <%= @nutrient_amount[2] %>
    </div>
  </div>
</div>