<%= render "shared/header_after_login" %>
<div class="flex justify-between">
  <h1 class="text-3xl font-bold text-left ml-20 my-10">その他(日用品・雑貨等)</h1>
</div>
<!-- ここから入力フォーム -->
<div class="w-1/3 mx-auto">
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">食品名</span>
    </div>
    <input type="text" placeholder="入力してください" class="input input-bordered w-full max-w-xs" />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">タンパク質</span>
    </div>
    <input type="text" placeholder="100gあたりの量(g)" class="input input-bordered w-full max-w-xs" />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">脂質</span>
    </div>
    <input type="text" placeholder="100gあたりの量(g)" class="input input-bordered w-full max-w-xs" />
  </label>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">炭水化物</span>
    </div>
    <input type="text" placeholder="100gあたりの量(g)" class="input input-bordered w-full max-w-xs" />
  </label>
  <button class="btn btn-primary btn-wide my-10 mx-auto">登録</button>
</div>